<div class="grid" style="grid-template-columns: var(--def-padding) auto auto var(--def-padding); grid-template-rows: var(--def-padding) auto var(--def-padding) auto var(--def-padding) auto var(--def-padding); ">
    <div style="grid-column-start: 2; grid-row-start: 2;">Название</div>
    <input style="grid-column-start: 3; grid-row-start: 2;" />
    <div style="grid-column-start: 2; grid-row-start: 4;">Сервер</div>
    <input style="grid-column-start: 3; grid-row-start: 4;" />
    <div style="grid-column-start: 2; grid-row-start: 6;">Порт</div>
    <input style="grid-column-start: 3; grid-row-start: 6;" />
</div>