<div class="view-server-data">
    <div class="view-server-data-title" style="grid-column-start: 2; grid-row-start: 2;" data-tr="$namel">Name</div>
    <input style="grid-column-start: 3; grid-row-start: 2;" />
    <div class="view-server-data-title" style="grid-column-start: 2; grid-row-start: 4;" data-tr="$server">Server</div>
    <input style="grid-column-start: 3; grid-row-start: 4;" />
    <div class="view-server-data-title" style="grid-column-start: 2; grid-row-start: 6;" data-tr="$port">Port</div>
    <input style="grid-column-start: 3; grid-row-start: 6;" />
</div>