<div class="grid" style="grid-template-columns: 1fr auto auto 1fr; grid-template-rows: 1fr auto auto 1fr; ">
    <div class="header" style="grid-column-start: 2; grid-row-start: 2;">
        Список серверов
    </div>
    <div id="listServers" class="listitems" style="grid-column-start: 2; grid-row-start: 3;">
    </div>
    <div class="header" style="grid-column-start: 3; grid-row-start: 2;">
        Информационные базы
    </div>
    <div id="listDatabases" class="listitems" style="grid-column-start:3; grid-row-start: 3;">
    </div>
</div>
