.header {
    font-size: 20px;
    background-color: var(--p100-color);
    text-align: center;
    margin-bottom: -1px !important;
}

.listitems {
    width: 300px;
    height: 400px;
    overflow: auto;
}

.listitems, .header {
    border: 1px solid var(--p400-color);
    padding: var(--def-padding);
    margin: 0 var(--def-padding);
}

    .listitems > button {
        width: 100%;
        padding: var(--def-padding);
        color: var(--secondary-text-color);
        background-color: transparent;
        border: none;
    }

        .listitems > button:focus {
            border: none;
        }

        .listitems > button:hover {
            color: var(--text-color);
        }
