:root {
    --text-color: #ffffff;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --p900-color: #3e2723;
    --p800-color: #4e342e;
    --p700-color: #5d4037;
    --p600-color: #6d4c41;
    --p500-color: #795548;
    --p400-color: #8d6e63;
    --p300-color: #a1887f;
    --p200-color: #bcaaa4;
    --p100-color: #efebe9;
    --p000-color: #ffffff;

    --secondary-color: #795548;
    --light-primary-color: #d7ccc8;
    --accent-color: #ff9800;
    --divider-color: #bdbdbd;

    --def-padding: 0.3rem;
}

.control, .view, .grid {
    position: relative;
    width: 100%;
    height: 100%;
}

.view {
    overflow: auto;
    display: none;
}

.grid {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
}

.button {
    color: var(--text-color);
    background-color: var(--p600-color);
    transition-duration: 0.4s;
    border: 1px solid var(--p900-color);
    /*border-radius: 4px;*/
    min-height:24px;
}

    .button:hover {
        background-color: var(--p400-color);
    }

    .button:disabled {
        background-color: var(--p100-color);
    }

    .button:focus {
        border: 1px solid black;
    }


    .button.icon {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        font-size: 17px;
    }

    .button > .caption {
        text-align: start;
        margin-left: 1em;
    }

:focus-visible {
    outline: none;
}