.control, .grid {
    position: relative;
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
}

.button {
    color: var(--text-color);
    background-color: var(--p600-color);
    transition-duration: 0.4s;
    border: 1px solid var(--p900-color);
    min-height: 24px;
}

    .button:hover {
        background-color: var(--p400-color);
    }

    .button:disabled {
        background-color: var(--p100-color);
    }

    .button:focus {
        border: 1px solid black;
    }


    .button.icon {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        font-size: 17px;
    }

    .button > .caption {
        text-align: start;
        margin-left: 1em;
    }

:focus-visible {
    outline: none;
}
